@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
}

.btn-global-padrao {
    outline: none;
    border: none;
    border-color: transparent;
}

.star {
    fill: #483d8b;
}